@using StudentsManagement.DAL.Models;
@using StudentsManagement.Helpers.Mappers;

<DxPopup Visible="@PopUpVisible">

    <HeaderContentTemplate>
        <div style="color: @(PopUpMessage.Contains("wrong") ? "red" : PopUpMessage.Contains("successfully") ? "green" : "e2e202")">
            Message
        </div>
    </HeaderContentTemplate>

    <BodyContentTemplate>
        <div style="color: @(PopUpMessage.Contains("wrong") ? "red" : PopUpMessage.Contains("successfully") ? "green" : "e2e202")">
            @PopUpMessage
        </div>
    </BodyContentTemplate>

    <FooterContentTemplate>
        <DxButton RenderStyle="ButtonRenderStyle.Primary" Text="OK"
                  Click="@context.CloseCallback" />
    </FooterContentTemplate>

</DxPopup>

<DxGrid Data="Data"
        EditModelSaving="OnEditModelSaving"
        DataItemDeleting="OnDataItemDeleting"
        KeyFieldName="Id"
        ShowGroupPanel="true"
        ShowGroupedColumns="false">

    <Columns>
        <DxGridCommandColumn />
        <DxGridDataColumn FieldName="Name" />
        <DxGridDataColumn FieldName="LastName" />
        <DxGridDataColumn FieldName="DateOfBirth" />
        <DxGridDataColumn FieldName="Gender" />
        <DxGridDataColumn FieldName="Email" />
        <DxGridDataColumn FieldName="PhoneNumber" />
        <DxGridDataColumn FieldName="StudentYear" />
        <DxGridDataColumn FieldName="RegistrationYear" />
        <DxGridDataColumn FieldName="Password" />
    </Columns>

    <EditFormTemplate Context="editFormContext">

        @{
            var student = ((Student)editFormContext.EditModel).AS_Students_DTO();
        }

        <DxFormLayout>
            <DxFormLayoutItem Caption="First Name">
                @editFormContext.GetEditor("Name")
                @* <DxTextBox @bind-Text="student.FirstName"/> *@
            </DxFormLayoutItem>

            <DxFormLayoutItem Caption="Last Name: ">
                @editFormContext.GetEditor("LastName")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Date of birth: ">
                @editFormContext.GetEditor("DateOfBirth")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Gender: ">
                @editFormContext.GetEditor("Gender")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Email: ">
                @editFormContext.GetEditor("Email")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Phone number: ">
                @editFormContext.GetEditor("PhoneNumber")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Student year: ">
                @editFormContext.GetEditor("StudentYear")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Registration year:">
                @editFormContext.GetEditor("RegistrationYear")
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Password: ">
                @editFormContext.GetEditor("Password")
            </DxFormLayoutItem>
        </DxFormLayout>
    </EditFormTemplate>
</DxGrid>